body {
   background-color: black;
}
#gameBoard {
    background-image: url(board.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
}